
#portfolioGrid {
    display: grid;
}

#phone, #chickenTinder, #tablet, #weTrippin, #tablet-vert, #currency {
    width: 100%;
    grid-area: 1 / 1;
    transition: opacity 3s;
    margin-top: 40px;
}
