#portfolioGrid {
    display: grid;
    margin-bottom: 50px;
}
#phone, #chickenTinder, #laptop, #weTrippin, #tablet, #currency {
    width: 100%;
    grid-area: 1 / 1;
    transition: opacity 3s;
    margin-top: 40px;
}