
#socials {
    background-color: #1c1c1c;
    width: 100%;
    margin: auto;
    -webkit-animation: Border 5s infinite alternate;
    letter-spacing: 4px;
    margin-bottom: 30px;
}
#socialIcon {
    width: 30px;
    display: inline-block;
    margin-top: 50px;
  }

#socialLinks {
    font-size: 40px;
    text-align: left;
    margin-left: 15px;
    line-height: 30px;
    display: inline-block;
}

#download {
    width: 50px;
    display: inline-block;
    transition: .5s ease;
  } #download:hover {
    transition: .5s ease;
    transform: scale(1.2);
  }

  #header {
    font-size: 80px;
    text-align: center;
    margin: 20px;
    margin-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-animation: Font 5s infinite alternate;
    letter-spacing: 4px;
    justify-content: start;
    display: inline-block;
  }