
#socials {
    background-color: #1c1c1c;
    width: 100%;
    margin: auto;
    -webkit-animation: Border 5s infinite alternate;
    letter-spacing: 4px;
}
#socialIcon {
    width: 70px;
    margin-bottom: 20px;
    display: block;
  }
#socialLinks {
    font-size: 40px;
    text-align: left;
    margin-left: 15px;
    margin-top: 0px;
    line-height: 88px;
    letter-spacing: 4px;
}