
#portfolioGrid {
    display: grid;
}

#flyerOne, #flyerTwo, #emoteOne, #emoteTwo, #logoOne, #logoTwo {
    width: 100%;
    grid-area: 1 / 1;
    transition: opacity 3s;
    margin-bottom: 50px;
}