
html {
  height: 100%;
  margin-top: 0px;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-image: url("../images/graphics/background-prism.png");
  background-size: 100%;
  background-position: fixed;
  color: #fff;
}

.row {
  justify-content: center;
}

#section {
  background-color: #1c1c1c;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  border-radius: 25px 0px 25px 0px;
  padding: 20px;
  border: 2px solid #ff00cc;
  -webkit-animation: Border 5s infinite alternate;
  z-index: 0;
  justify-content: center;
}

#header {
  font-size: 80px;
  text-align: center;
  margin: 20px;
  margin-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-animation: Font 5s infinite alternate;
  letter-spacing: 4px;
  justify-content: start;
}
#profession {
  font-size: 25px;
  margin-left: 30px;
  margin-bottom: 50px;
  line-height: 40px;
  letter-spacing: 4px;
  justify-content: start;
}

#appName, #title {
  font-size: 40px;
  margin: 20px;
  margin-top: 50px;
  line-height: 60px;
  color: #ff00cc;
  letter-spacing: 4px;
  justify-content: start;
}
#info {
  font-size: 15px;
  line-height: 25px;
  margin-left: 20px;
  padding-right: 20px;
}

#myPicture {
  width: 500px;
  border-radius: 20px 0px 20px 0px;
  display: block;
  float: right;
}

li {
  list-style: none;
  columns: 3;
  margin-left: 10px;
  line-height: 30px;
}

ul {
  columns: 1;
  margin-left: 60px;
  line-height: 30px;
  margin-bottom: 30px;
}
ol {
  padding-right: 100px;
}

h2 {
  margin: 20px;
}
h3 {
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 40px;

}
h4 {
  margin-bottom: 10px;
  margin-left: 20px;
  line-height: 40px;
  font-size: 18px;
}

a, a:hover, a:focus {
  text-decoration: none!important;
}

#transition {
  position: fixed;
  top: 0%;
  z-index: 1;
}

@-webkit-keyframes Font {
  0% {color: rgb(255, 255, 255);}
  100% {color: #ff00cc}
}
@-webkit-keyframes Border {
  0% {border-color: rgb(255, 255, 255);}
  100% {border-color: #ff00cc}
}
