
html {
  height: 100%;
  margin-top: 0px;
}

body {
  background-image: url("../images/background-prism.png");
  background-size: 100%;
  background-position: fixed;
}

@-webkit-keyframes Font {
  0% {color: rgb(255, 255, 255);}
  100% {color: #ff00cc}
}

#header {
  font-size: 150px;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin: 20px;
  -webkit-animation: Font 5s infinite alternate;
}



.card {
  background-color: #bebebe;
  opacity: 50%;

}