#navBar {
    background-color: #1c1c1c;
    width: 100%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 0px;
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: 2px solid #ff00cc;
    -webkit-animation: Border 5s infinite alternate;
    letter-spacing: 4px;
}
#navLogo {
    width: 125px;
    cursor: pointer;
    transition: .5s ease;
    position: fixed; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 10px;
}
#designPage, #codingPage {
    line-height: 50px;
    transition: .5s ease;
    cursor: pointer;
    -webkit-animation: Font 5s infinite alternate;
}
#resumePage, #gameArtPage {
    line-height: 50px;
    transition: .5s ease;
    cursor: pointer;
    -webkit-animation: Font 5s infinite alternate;
} 
#resumePage:hover, #gameArtPage:hover, #designPage:hover, #codingPage:hover, #navLogo:hover {
    color: #fff;
    transition: .5s ease;
    transform: scale(1.1);
}

@-webkit-keyframes Font {
    0% {color: rgb(255, 255, 255);}
    100% {color: #ff00cc}
  }
  @-webkit-keyframes Background {
    0% {background-color: #ffffff;}
    100% {background-color: #ff00cc}
  }