#navBar {
    background-color: #1c1c1c;
    width: 100%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-weight: bold;
    border-bottom: 2px solid #ff00cc;
    -webkit-animation: Border 5s infinite alternate;
    letter-spacing: 4px;
}

#navLogo {
    width: 170px;
    cursor: pointer;
    transition: .5s ease;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

#designPage, #codingPage {
    float: right;
    line-height: 50px;
    transition: .5s ease;
    cursor: pointer;
    -webkit-animation: Font 5s infinite alternate;
}
#resumePage, #contactPage {
    justify-content: left;
    line-height: 50px;
    transition: .5s ease;
    cursor: pointer;
    -webkit-animation: Font 5s infinite alternate;
} 

#resumePage:hover, #contactPage:hover, #designPage:hover, #codingPage:hover, #navLogo:hover {
    color: #fff;
    transition: .5s ease;
    transform: scale(1.1);
    transform-origin: center;
}




@-webkit-keyframes Font {
    0% {color: rgb(255, 255, 255);}
    100% {color: #ff00cc}
  }
  @-webkit-keyframes Background {
    0% {background-color: #ffffff;}
    100% {background-color: #ff00cc}
  }