.navBar {
    background-color: #1c1c1c00;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

#navLogo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block
}

#portfolioHeader {
    justify-content: left;
    line-height: 50px;
    font-size: 40px;
    -webkit-animation: Font 5s infinite alternate;
}
#portfolio {
    justify-content: left;
    line-height: 50px;
}

#experienceHeader {
    justify-content: right;
    line-height: 50px;
    font-size: 40px;
    -webkit-animation: Font 5s infinite alternate;
}
#experience {
    justify-content: right;
    line-height: 50px;
}

@-webkit-keyframes Font {
    0% {color: rgb(255, 255, 255);}
    100% {color: #ff00cc}
  }